@model PlanFort.Models.ViewModels.BusinessFormVM



    <form asp-controller="Business" asp-action="BusinessFormResult" method="post">


        <label asp-for="BusinessType">Choose a Business Type:</label>

        <select asp-for="BusinessType" name="BusinessType">
            <option value="bars">bars</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>

        <button>Search</button>

    </form>